.tabs {
  padding: 80px 32px;
  background: #09090b;
  min-height: 874px;
}

.tabs-container {
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.tabs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  z-index: 2;
}

.tabs-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  background: linear-gradient(146deg, #fafafa 24%, #71717a 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  max-width: 1248px;
}

.tabs-description {
  font-size: 20px;
  line-height: 28px;
  color: #71717a;
  font-weight: 500;
  max-width: 578px;
}

.tabs-layout {
  display: flex;
  gap: 16px;
  flex: 1;
  z-index: 1;
}

.tabs-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 373px;
  flex-shrink: 0;
}

.tab-item {
  display: flex;
  gap: 8px;
  padding: 12px 20px 12px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.tab-item.active {
  background: linear-gradient(to top, rgba(9, 9, 11, 0.05), rgba(9, 9, 11, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.tab-icon {
  width: 16px;
  height: 16px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  flex-shrink: 0;
}

.tab-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fafafa;
  margin-bottom: 0;
}

.tab-item:not(.active) .tab-title {
  color: #71717a;
}

.tab-description {
  font-size: 12px;
  line-height: 16px;
  color: #71717a;
  font-weight: 500;
}

.tabs-preview {
  flex: 1;
  position: relative;
  background: #09090b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 32px;
  overflow: hidden;
  min-height: 482px;
}

.preview-glows {
  position: absolute;
  top: -285px;
  left: -217px;
  right: -248px;
  height: 1069px;
  z-index: 0;
}

.preview-glows img {
  width: 100%;
  height: 100%;
}

.preview-frame {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 11, 0.05);
  padding: 8px;
  border-radius: 16px;
  z-index: 1;
}

.preview-inner {
  width: 100%;
  height: 100%;
  border: 1px solid #fafafa;
  border-radius: 8px;
  overflow: hidden;
}

.preview-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .tabs-layout {
    flex-direction: column;
  }
  
  .tabs-list {
    width: 100%;
  }
}
